* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {

    background-color: black;
}

.header-container {
    margin: 0px 50px;
}

.logo-img {
    width: 100px;
    height: 60px;
}

.nav {
    margin-top: 19px;
    float: right;
    list-style: none;
    text-transform: uppercase;
}

.nav-item {
    float: right;
    margin-right: 1rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* Home */
#home {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: #fff;
    background-image: url('/src/img/header-bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;

}

.home-container {
    top: 30%;
    left: 20%;
    position: absolute;
}

.subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.btn {
    background-color: #ffc800;
    color: #ffff;
    text-decoration: none;
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #cca000;
}

/* Services */

.services-container {
    overflow: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.headings {
    text-align: center
}

.services-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}

.services-subheading {
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
    color: #6c757d;
}

.services-content {
    width: 100vw;
    margin-left: 50px;

}

.services-element {
    margin-right: 20px;
    text-align: center;
    width: 30%;
    float: left;

}

.icon {
    position: relative;
    width: 100%;
}

.icon-bg {
    width: 120px;
    height: 120px;
}

.svg-icon {
    color: white;
    top: 32%;
    right: 44%;
    position: absolute;
    height: 3.125rem;
    width: 3.125rem;
}


.text-h {
    font-size: 1.313rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.text-p {
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.75;
    color: #6c757d;
}

/* Portfolio */

.portfolio-container {
    overflow: auto;
    background-color: rgb(248, 249, 250);
    padding: 6rem 0;
}

.headings-portfolio {
    padding-bottom: 3.75rem;
    text-align: center;
}

.portfolio-projects {
    overflow: auto;
    margin-left: 4.375rem;
}

.portfolio-item {
    margin-right: 1.25rem;
    width: 30%;
    float: left;
}

.img-portfolio {
    width: 26rem;
    height: 19.5rem;
}

.portfolio-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: #ffff;
}

.portfolio-heading {
    font-size: 1.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}

.portfolio-subheading {
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #6c757d;
}

/* Team */

#team {
    background-color: rgb(248, 249, 250);
}

.team-container {
    padding: 6rem 0;
}

.text-center {
    align-content: center;
}

.team-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: "Montserrat", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.team-subheading {
    text-align: center;
    color: #6c757d;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}

.team-members {
    height: 400px;
    overflow: auto;
    margin-left: 20%;
}

.team-member {
    margin-right: 5.625rem;
    text-align: center;
    float: left;
}

.circle-img {
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.name {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}

.text-muted {
    margin-bottom: 1rem;
    line-height: 1.75;
    color: #6c757d;
}

.btn-icon {
    margin-right: 7px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

svg {
    color: #ffff;
    width: 15px;
    height: 15px;
}


.paragraph {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.75;
    color: #6c757d;
    margin-top: 70px;
}

/* Clients */

.clients-container {
    padding: 4rem 0;
    margin-left: 17%;
}

.logo-image {
    margin-right: 3.125rem;
    width: 13.75rem;
    height: 3.125rem;
}

#contact {
    background-color: #212529;
    background-image: url('/src/img/map-image.png');
    background-repeat: no-repeat;
    background-position: center;
}

.contact-container {
    padding: 6rem;
    overflow: hidden;
}

.text-heading {
    text-align: center;
}

.contact-heading {
    color: white;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.contact-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
    color: #6c757d;
}

.contact-form {
    margin-bottom: 3rem;
}

.inputs {
    float: left;
    width: 40%;
}

.form-group {

    margin-bottom: 1.5rem;
}

.form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: auto;
    padding: 1.25rem;
}

.inputs-text {
    float: right;
    width: 40%;
}

.text-input {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    width: 100%;
    height: 100%;
    min-height: 10rem;
    padding: 1.25rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.message {
    width: 31.25rem;
    text-align: center;
}

.btn-message {
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background-color: #ffc800;
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #ffc800;
}

/* Footer */

footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Montserrat", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footer-container {
    margin: 1rem 6rem;
}

.footer-text {
    float: left;

}


.btn-icon {
    padding: 11px 19px;
}

.svg-icon {
    height: 20px;
}

.footer-links {
    float: right;
}

.text-link {
    color: #212529;
    padding-right: 20px;
    text-decoration: none;
    float: left;
}